
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    /* Optional: Add your custom styles here */
    body {
      padding-top: 56px;
      margin-bottom: 60px; /* Adjusted for fixed navbar */
    }

    .sidebar {
      position: fixed;
      top: 56px; /* Height of the fixed navbar */
      bottom: 0;
      left: 0;
      z-index: 1000;
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #343a40;
      color: #fff;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #343a40;
      color: #fff;
      text-align: center;
      padding: 10px;
    }

    .main-content {
      margin-left: 250px;
      padding: 20px;
    }
    table {
      width: 100%;
      margin-bottom: 1rem;
      color: #343a40;
    }

    table th,
    table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      text-align: left;
    }

    th {
      background-color: #343a40;
      color: #fff;
    }

    tbody tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .btn-block {
      width: 100%;
    }
    form {
        top: 10px;
        max-width: 600px;
        margin: 0 auto;
    }

    table {
        top: 10px;
        width: 100%;
    }

    table tr {
      margin-bottom: 10px;
    }

    label {
      font-weight: bold;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      box-sizing: border-box;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    #image-preview img 
    {
      max-width: 100px; 
      max-height: 100px; 
      margin: 5px;
    }

    .ul-class ul
    {
      list-style: none;
    } 
    /* Responsive styles */
    @media (max-width: 768px) {
      .main-content {
        margin-left: 0;
      }

      .sidebar {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: -250px; /* Hide the sidebar by default on smaller screens */
        z-index: 1000;
        padding-top: 150px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #343a40;
        color: #fff;
        transition: left 0.3s ease; /* Add smooth transition effect */
      }

      .sidebar.show {
        left: 0; /* Show the sidebar when the "show" class is added */
      }

      .navbar-toggler {
        display: block;
      }
      table {
        overflow-x: auto;
      }
      form {
        padding: 20px;
      }
    }
  </style>
  <script>
    // JavaScript to toggle the "show" class on the sidebar
    document.addEventListener("DOMContentLoaded", function () {
      var toggleButton = document.getElementById("sidebarToggle");
      var sidebar = document.querySelector(".sidebar");
  
      toggleButton.addEventListener("click", function () {
        sidebar.classList.toggle("show");
      });
    });
  </script>
  <title>Admin Dashboard</title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Admin Dashboard</a>

      <button id="sidebarToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/adminlogout">
                <i class="fas fa-sign-out-alt"></i> Sign Out
              </a>
            </li>
            <li class="nav-item">
              <span class="nav-link">
                <i class="fas fa-user"></i>
                <%= user %>
              </span>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/adminlogin">
                <i class="fas fa-sign-in-alt"></i> Sign In
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>
  
  <div class="sidebar">
    <h5>Menu</h5>
    <ul class="ul-class nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/admindashboard">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/userslist">
          <i class="fas fa-user"></i> Users
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/productlist">
          <i class="fas fa-box"></i> Product
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/categorylist">
          <i class="fas fa-tags"></i> Category
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-tags"></i> Order
        </a>
  
        <!-- Nested CanceledOrder Link -->
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="/placedOrder">
              <i class="fas fa-tags"></i> placedOrder
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/canceledOrder">
              <i class="fas fa-tags"></i> CanceledOrder
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/returenedOrder">
              <i class="fas fa-tags"></i> ReturnedOrder
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/couponList">
          <i class="fas fa-tags"></i> Coupon
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <form action="/updateproduct/<%= productData._id %>" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
      <table>
        <tr>
          <td><label for="bookName">Book Name:</label></td>
          <td><input type="text" id="bookName" name="bookName" value="<%= productData.bookName %>" >
            <span id="bookNameErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="bookDetail">Book Detail:</label></td>
          <td><textarea id="bookDetail" name="bookDetail"><%= productData.bookDetail %></textarea>
            <span id="bookDetailErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="author">Author:</label></td>
          <td><input type="text" id="author" name="author" value="<%= productData.author %>" >
            <span id="authorErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="publisher">Publisher:</label></td>
          <td><input type="text" id="publisher" name="publisher" value="<%= productData.publisher %>" >
            <span id="publisherErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="price">Price:</label></td>
          <td><input type="number" id="price" name="price" value="<%= productData.price %>" >
            <span id="priceErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="stock">Stock:</label></td>
          <td><input type="number" id="stock" name="stock" value="<%= productData.stock %>" >
            <span id="stockErrorMessage" style="color: red;"></span></td>
        </tr>
        <tr>
          <td><label for="genres">Genres:</label></td>
          <td>
            <select id="productCategory" name="productCategory">
              <% categoryData.forEach(category => { %>
                  <option value="<%= category._id %>" <%= category.category === productData.genres.category ? 'selected' : '' %>><%= category.category %></option>
              <% }); %>
          </select>
          
            
            <span id="productCategoryErrorMessage" style="color: red;"></span>
          </td>
        </tr>
        <tr>
          <td><label for="year">Published Date:</label></td>
          <td><input type="date" id="publishedDate" name="publishedDate">
          <span id="yearErrorMessage" style="color: red;"></span></td></td>
        </tr>
        <tr>
          <td><label for="year">Image preview:</label></td>
          <td>
            
            <% if (productData.images && Array.isArray(productData.images) && productData.images.length > 0) { %>
              <% productData.images.forEach(image => { %>
                <img src="data:image/<%= image.contentType %>;base64, <%= image.data.toString('base64') %>" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                <% }); %>
            <% } else { %>
              <p>No images available</p>
            <% } %>
            <% if (locals.Message) { %>
              <span style="color: red;">
                  <strong><%= Message %></strong>
              </span>
            <% } %> 
          </td>
        </tr>
        <tr>
          <td><label for="image">Image:</label></td>
          <td>
            <input type="file" id="image" name="image" multiple accept="image/*" onchange="loadFiles(event)">
            <div id="image-preview"></div>
            <span id="imageErrorMessage" style="color: red;"></span>
            <script>
              var loadFiles = function(event) {
                var output = document.getElementById('image-preview');
                output.innerHTML = ''; // Clear previous previews

                var files = event.target.files;
                for (var i = 0; i < files.length; i++) {
                  var img = document.createElement('img');
                  img.src = URL.createObjectURL(files[i]);
                  img.onload = function() {
                    URL.revokeObjectURL(this.src); // free memory
                  };
                  output.appendChild(img);
                }
              };
            </script>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button type="submit">Update</button>
          </td>
        </tr>
      </table>
    </form>

    <form id="deleteForm" action="/imageDelete/<%= productData._id %>" method="POST" onsubmit="return confirmDelete()">
      <table>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button type="submit" id="deleteButton" class="btn btn-danger" title="Delete" data-toggle="tooltip">Delete Images</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function confirmDelete() {
      // Use SweetAlert for a confirmation dialog
      Swal.fire({
        title: 'Are you sure?',
        text: 'You want to delete images from this product.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        // If the user clicks on "Yes, delete it!", submit the specific form with the id 'deleteForm'
        if (result.isConfirmed) {
          document.getElementById('deleteForm').submit(); // Submit the form
        }
      });
  
      // Prevent the default form submission
      return false;
    }
  </script>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script>
    function validateForm() {
      var bookName = document.getElementById('bookName').value;
      var bookDetail = document.getElementById('bookDetail').value;
      var author = document.getElementById('author').value;
      var publisher = document.getElementById('publisher').value;
      var price = document.getElementById('price').value;
      var publishedDate = document.getElementById('publishedDate').value;
      var productCategory = document.getElementById('productCategory').value;
      var image = document.getElementById('image').value;
      var status = true; // Initialize to true
  
      // Basic validation examples, you can customize these as needed
      if (bookName.trim() === '') {
        document.getElementById('bookNameErrorMessage').innerText = 'Please enter a Book Name.';
        status = false;
      }
  
      if (bookDetail.trim() === '') {
        document.getElementById('bookDetailErrorMessage').innerText = 'Please enter a Book Details.';
        status = false;
      }
  
      if (author.trim() === '') {
        document.getElementById('authorErrorMessage').innerText = 'Please enter an Author Name.';
        status = false;
      }
  
      if (publisher.trim() === '') {
        document.getElementById('publisherErrorMessage').innerText = 'Please enter a Publisher Name.';
        status = false;
      }
  
      if (productCategory === 'Genres') {
        document.getElementById('productCategoryErrorMessage').innerText = 'Please enter a Genres.';
        status = false;
      }
  
      if (isNaN(price) || price <= 0) {
        document.getElementById('priceErrorMessage').innerText = 'Please enter Price.';
        status = false;
      }
  
      if (isNaN(publishedDate.getTime()) || publishedDate <= 0) {
        document.getElementById('yearErrorMessage').innerText = 'Please enter a valid date.';
        status = false;
      }
  
      if (image.trim() === '') {
        document.getElementById('imageErrorMessage').innerText = 'Please choose Image.';
        status = false;
      }
  
      // You can add more validation as needed
  
      // If all validations pass, the form will be submitted
      return status;
    }
  </script>
  
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>
